@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Override browser autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #a0f0ff !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

/* Define the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0; /* Start with 0 opacity (fully transparent) */
  }
  to {
    opacity: 1; /* End with 1 opacity (fully visible) */
  }
}

/* Apply the animation to an element */
.fade-in {
  animation: fadeIn 0.3s ease-in-out; /* 1s duration, ease-in-out timing */
}
